http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

    secure-headers:
      headers:
        # Tell browsers to use HTTPS only for this domain.
        stsSeconds: 31536000 # 1 year
        stsIncludeSubdomains: true # apply to all subdomains (www, etc.)
        stsPreload: true # for hstspreload.org submission

        # Stops a browser from trying to MIME-sniff the content type and forces it to stick with the declared content-type
        contentTypeNosniff: true

        # Allows a site to control how much information the browser includes with navigations away from a document and should be set by all sites.
        referrerPolicy: strict-origin-when-cross-origin

        # Preventing a browser from framing the website (defend against attacks like clickjacking).
        frameDeny: true

        # Disable browser APIs that are not needed for the blog
        permissionsPolicy: 'geolocation=(), microphone=(), camera=(), payment=(), usb=()'

        customResponseHeaders:
          # Controls who can load the resources (images/fonts/etc.)
          Cross-Origin-Resource-Policy: 'same-site'

        # CSP to mitigate XSS and data injection attacks
        contentSecurityPolicy: >-
          default-src 'none';
          base-uri 'self';
          object-src 'none';
          frame-ancestors 'none';
          form-action 'self';
          img-src 'self' data: https://alexeyfv.xyz https://www.alexeyfv.xyz;
          style-src 'self' 'unsafe-inline' https://giscus.app;
          font-src 'self' data:;
          script-src 'self' 'wasm-unsafe-eval' https://giscus.app https://cloud.umami.is;
          connect-src 'self' https://giscus.app https://api.github.com https://cloud.umami.is;
          frame-src https://giscus.app;
          worker-src 'self' blob:;
          manifest-src 'self';
          media-src 'self';
          upgrade-insecure-requests;

  routers:
    alexeyfv-xyz-60i8ey-router-1:
      rule: Host(`alexeyfv.xyz`)
      service: alexeyfv-xyz-60i8ey-service-1
      middlewares:
        - redirect-to-https
      entryPoints: [web]

    alexeyfv-xyz-60i8ey-router-websecure-1:
      rule: Host(`alexeyfv.xyz`)
      service: alexeyfv-xyz-60i8ey-service-1
      middlewares:
        - secure-headers
      entryPoints: [websecure]
      tls:
        certResolver: letsencrypt

    alexeyfv-xyz-60i8ey-router-2:
      rule: Host(`www.alexeyfv.xyz`)
      service: alexeyfv-xyz-60i8ey-service-2
      middlewares:
        - redirect-to-https
      entryPoints: [web]

    alexeyfv-xyz-60i8ey-router-websecure-2:
      rule: Host(`www.alexeyfv.xyz`)
      service: alexeyfv-xyz-60i8ey-service-2
      middlewares:
        - secure-headers
      entryPoints: [websecure]
      tls:
        certResolver: letsencrypt

  services:
    alexeyfv-xyz-60i8ey-service-1:
      loadBalancer:
        servers:
          - url: http://alexeyfv-xyz-60i8ey:3000
        passHostHeader: true

    alexeyfv-xyz-60i8ey-service-2:
      loadBalancer:
        servers:
          - url: http://alexeyfv-xyz-60i8ey:3000
        passHostHeader: true
