@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left: calc(100vw - 100%);
}

@layer base {
  /* body {
		transition: background-color 0.5s ease;
	} */

  .prose code {
    @apply text-base;
  }

  /* prose styles here */
  .prose h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-800 dark:text-zinc-100 !important;
  }
}

.glass {
  background: rgba(57, 56, 56, 0.52);
  backdrop-filter: blur(13px) saturate(150%);
  -webkit-backdrop-filter: blur(13px) saturate(150%);
  z-index: -1;
}
