.pagefind-ui {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #f8f8f8;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 12px;
  --pagefind-ui-image-border-radius: 12px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: Manrope, sans-serif;
}

html.dark {
  --pagefind-ui-primary: #f8f8f8;
  --pagefind-ui-text: #f8f8f8;
  --pagefind-ui-background: #1f2b3a;
  --pagefind-ui-border: #1f2b3a;
  --pagefind-ui-tag: #1f2b3a;
}
