---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import PostTag from '@/components/PostTag'
import { getTags } from '@/utils'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const tags = await getTags(lang)
---

<BaseLayout title={t('tags.title')}>
  <TitlePage title={t('tags.title')} />
  <section class="flex justify-center flex-wrap gap-x-2 gap-y-4">
    {tags.map((tag) => <PostTag lang={lang} tag={tag} size="lg" />)}
  </section>
</BaseLayout>
