---
const today = new Date()
---

<footer
  class="flex flex-col justify-center items-center w-full px-16 h-28 border-t-2"
>
  <div>&copy; {today.getFullYear()} Alexey Fedorov</div>
  <div>
    Powered by <a href="https://astro.build" class="hover:underline">Astro</a> and
    <a
      href="https://github.com/gaomingzhao666/nano-blog"
      class="hover:underline">Nano-blog</a
    >
  </div>
</footer>
