---
import CloseIcon from '@/components/icons/Close'
import SearchIcon from '@/components/icons/Search'
import Search from 'astro-pagefind/components/Search'
import '../styles/pagefind-ui.css'

interface Props {
  title: string
  rerender?: boolean
}

const { title }: Props = Astro.props
---

<!-- because the button size is different with the icon size, need to set the same width and height with the icon to keep it layout correctly -->
<button
  id="openSearchPage"
  class="w-[24px] h-[24px]"
  aria-label="Search Blog Contents"
>
  <SearchIcon />
</button>

<dialog
  id="SearchPage"
  class="hidden w-screen h-screen fixed inset-0 justify-center items-center transition-opacity opacity-0"
>
  <div
    id="SearchPageContent"
    class="size-full overflow-y-scroll bg-white dark:bg-black dark:text-white p-10 transform transition-transform"
  >
    <section class="flex justify-between items-center mb-10">
      <h1 class="text-3xl">{title}</h1>

      <button id="closeSearchPage" aria-label="Close Search Page">
        <CloseIcon />
      </button>
    </section>

    <section class="text-start">
      <Search
        id="search"
        className="pagefind-ui"
        uiOptions={{ showImages: true }}
      />
    </section>
  </div>
</dialog>
