---
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { useTranslations } from '@/i18n/utils'
import { getPosts } from '@/utils'
import { Lang, ui } from '@/i18n/ui'

export function getStaticPaths() {
  return Object.keys(ui).map((lang) => ({ params: { lang: lang as Lang } }))
}

const lang: Lang = Astro.params.lang
const t = useTranslations(lang)
const posts = await getPosts(lang)
---

<BaseLayout lang={lang} title={t('index.title')}>
  <TitlePage title={t('index.title')} />
  <hr />
  <section>
    <h2 class="text-lg font-medium tracking-wide text-end">
      {t('index.latestPosts')}
    </h2>
    <ListPosts FirstBig={false} posts={posts} />
  </section>
</BaseLayout>
